In [ ]:
import pandas as pd

school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [ ]:
school_data_df = pd.read_csv(school_data_to_load)
pd.DataFrame(school_data_df).head()

In [ ]:
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

In [ ]:
school_data_df.count()

In [ ]:
student_data_df.count()

In [ ]:
school_data_df.isnull()

In [ ]:
student_data_df.isnull().sum()

In [ ]:
student_data_df.notnull().sum()

In [ ]:
school_data_df["size"].dtypes

In [ ]:
student_data_df.dtypes

In [ ]:
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"",regex=True)

student_data_df.head(10)

In [ ]:
school_data_complete_df = pd.merge(student_data_df, school_data_df,on=["school_name", "school_name"])
school_data_complete_df.tail(2)

In [ ]:
student_count = school_data_complete_df["school_name"].count()
student_count

In [ ]:
school_count = school_data_df["school_name"].count()
school_count

In [ ]:
school_count_2 = len(school_data_complete_df["school_name"].unique())
school_count_2

In [ ]:
total_budget = school_data_df['budget'].sum()
total_budget

In [ ]:
average_reading_score = school_data_complete_df['reading_score'].mean()
average_reading_score

In [ ]:
average_math_score = school_data_complete_df['math_score'].mean()
average_math_score

In [ ]:
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math

In [ ]:
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading

In [ ]:
passing_math_count = passing_math["student_name"].count()
passing_reading_count = passing_reading["student_name"].count()

print(passing_math_count)
print(passing_reading_count)

In [ ]:
# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / student_count["student_name"] * 100

# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / student_count["student_name"] * 100

print(passing_math_percentage)
print(passing_reading_percentage)

In [ ]:
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & 
                                               (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading.head()

In [ ]:
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

In [ ]:
overall_passing_percentage = overall_passing_math_reading_count / student_count["student_name"] * 100
overall_passing_percentage

In [ ]:
district_summary_df = pd.DataFrame(
    [{"Total Schools": school_count,
      "Total Students": student_count,
      "Total Budget": total_budget,
      "Average Math Score": average_math_score,
      "Average Reading Score": average_reading_score,
      "% Passing Math": passing_math_percentage,
      "% Passing Reading": passing_reading_percentage,
      "% Overall Passing": overall_passing_percentage}])
district_summary_df

In [ ]:
def passing_math_percent(passing_math_count, total_student_count):
    return passing_math_count / float(total_student_count) * 100

In [ ]:
passing_math_count = 29370
total_student_count = 39170

passing_math_percent(passing_math_count, total_student_count)

In [ ]:
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

In [ ]:
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

In [ ]:
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

In [ ]:
district_summary_df

In [ ]:

new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

In [ ]:
per_school_types = school_data_df.set_index(["school_name"])["type"]
df = pd.DataFrame(per_school_types)
df

In [ ]:
per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

In [ ]:
# Calculate the total student count by school.
per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

In [ ]:
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

In [ ]:
per_school_capita = per_school_budget / per_school_counts

per_school_capita

In [ ]:
student_school_math = student_data_df.set_index(["school_name"])["math_score"]
student_school_math

In [ ]:
per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()
per_school_averages

In [ ]:
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_math

In [ ]:
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
per_school_reading

In [ ]:
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_math

In [ ]:
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

per_school_passing_reading

In [ ]:
per_school_passing_math_counts = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_math_counts

In [ ]:
per_school_passing_reading_counts = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading_counts

In [ ]:
per_school_passing_math = per_school_passing_math_counts / per_school_counts * 100

per_school_passing_reading = per_school_passing_reading_counts / per_school_counts * 100

print(per_school_passing_math)
print(per_school_passing_reading)

In [ ]:
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

per_passing_math_reading.head()

In [ ]:
per_passing_math_reading_count = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]
per_passing_math_reading_count

In [ ]:
per_overall_passing_percentage = per_passing_math_reading_count / per_school_counts * 100
per_overall_passing_percentage

In [184]:
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget" : per_school_budget,
    "Per Student Budget" : per_school_capita,
    "Average Math Score" : per_school_math,
    "Average Reading Score" : per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading" : per_school_passing_reading,
    "% Overall Passing" : per_overall_passing_percentage})
per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

In [185]:
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

In [186]:
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

In [187]:
per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455

In [188]:
new_column_order = ["School Type", "Total Students", "Total School Budget", "Per Student Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

In [190]:
per_school_summary_df = per_school_summary_df[new_column_order]
per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455